{% extends 'template.html' %}

{% block title %}
Git команды
{% endblock %}

{% block body %}
    <h1>git init</h1><h3> Создание локального репозитория и папки .git</h3>
    <h1>git config</h1> <h3> Используется для указания пользовательских настроек, таких как электронная почта, имя пользователя, формат и т.д.</h3>
    <h1>git add</h1> <h3>  Используется для добавления файлов в индекс.</h3>
    <h1>git clone ссылка</h1> <h3> клонируется репозиторий в папку.</h3>
    <h1>git commit -m "Первый коммит"</h1> <h3> Создание коммитов(комментариев) в проекте.</h3>
    <h1>git push origin название_ветки</h1> <h3> Отправка проекта в github.</h3>
    <h1>git pull</h1> <h3> Вытягивание изменений с github репозитория.</h3>
    <h1>git checkout b название_ветки</h1> <h3> Создание веток и/или переключение между ними.</h3>
    <h1>git remote -v</h1> <h3> Для отображения списка подключенных репозиториев github</h3>
    <h1>git remote add origin путь_к_папке</h1> <h3> Позволит пользователю подключить проект к репозиторию github.</h3>
    <h1>git branch</h1> <h3> Отображение всех существующих веток в репозитории.</h3>
    <h1>git branch –d название_ветки</h1> <h3> Удаление ветки.</h3>
    <h1>git branch -M название_ветки</h1> <h3> Создание ветки.</h3>
    <h1>git merge  название_ветки</h1> <h3> Объединение ветки в активную ветвь.</h3>
    <h1>git branch -M название_ветки</h1> <h3> Создание ветки.</h3>
    <h1>git diff</h1> <h3> Отображения существующих различий.</h3>
    <h1>git diff</h1> <h3> Отображения существующих различий.</h3>
    <h1>git diff --base путь_к_папке</h1> <h3> Выявления различий с базовыми файлами.</h3>
    <h1>git diff ветвь_источник ветвь_цель</h1> <h3> Используется для просмотра различий между ветками, которые должны быть объединены, до их объединения.</h3>
    <h1>git tag версия(например 1.1.0) commitID</h1> <h3> Маркировка определенных коммитов с помощью простых меток.</h3>
    <h1>git diff</h1> <h3> Отображения существующих различий.</h3>
    <h1>git log</h1> <h3> Отобразит список всех коммитов в ветке вместе с соответствующими сведениями.</h3>
    <h1>git reset --hard каталог</h1> <h3> Сброс индекса и рабочего каталога до последнего состояния коммита.</h3>
    <h1>git rm имяфайла.расширение</h1> <h3> Удаления файлов из индекса и рабочего каталога.</h3>
    <h1>git stash</h1> <h3> Помогает в сохранении изменений на временной основе, эти изменения не попадут в коммит сразу.</h3>
    <h1>git show</h1> <h3> Для просмотра информации о любом git объекте.</h3>
    <h1>git fetch origin</h1> <h3> Позволяет пользователю доставить все объекты из удаленного репозитория, которые не присутствуют в локальном рабочем каталоге.</h3>
    <h1>gitk</h1> <h3> Графический интерфейс локального репозитория.</h3>
{% endblock %}