{% extends 'template.html' %}

{% block title %}
IDE
{% endblock %}

{% block body %}
    <h3>Следующие IDE полностью бесплатные:</h3>
    <h3>
        <a href="https://www.eclipse.org/downloads/">Eclipse</a>,
        <a href="https://notepad-plus-plus.org/downloads/">Notepad++</a>,
        <a href="https://atom.io/">Atom</a>,
        <a href="https://www.sublimetext.com">Sublime Text</a>,
        <a href="https://visualstudio.microsoft.com/ru/">VS Code</a>
    </h3>
    <h3>Следующие IDE частично бесплатные или платные:</h3>
    <h3>
        <a href="https://visualstudio.microsoft.com/ru/">Visual Studio</a>,
        <a href="https://www.jetbrains.com/ru-ru/products/">IDE от Jetbrains</a>
    </h3>
{% endblock %}