{% extends 'template.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
    <div class="modal-content rounded-6 shadow">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title"><font style="text-align: center;">Главная страница</font></h5>
      </div>
      <div class="modal-body py-0">
        <p><font style="text-align: center;">Добро пожаловать на сайт-шпаргалку для программиста!</font></p>
        <p><font style="text-align: center;">Для дальнейших действий пройдите по ссылке в панели выше или ниже этой надписи.</font></p>
      </div>
    </div>

{% endblock %}